<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>
    
    <title></title>

    <script>
      $(document).ready(function() {
        $("#f").validate({
          rules: {keyword: "required"},
          messages:{keyword: "Please enter a keyword."}
        });
      });

      $(function () { $("[data-toggle='tooltip']").tooltip(); });

    </script>
        
    <style>
      #f {
        border: solid gray; 
        border-width: medium; 
        padding: 10px;
      }
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
      .norecord {
        background: #ffe6b3;
        color: #996600;
      }
      .progress-wrapper{
       position: relative;
      }
      .progress-wrapper .text{
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          z-index: 1;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
      }
      .star-rating-full {
          color: #FE7;
          text-shadow: 0 0 1px #000;
          display: inline-block;
           font-size: 2em;
           cursor:default;
      }
    </style>
</head>

  <body class="container" ng-app="myApp" ng-controller="siteCtrl">

    <input type="hidden" id="search_count" value="0">

    <br>
    <form class="form-horizontal" role="form" id="f" method="get">

        <div class="text-center">
          <h3> Entertainment Event Ticket Search </h3>
        </div>

        <div class="form-inline">
          <label for="keyword" class="col-sm-3">Keyword&nbsp;<span style="color: red">*</span></label>
          <input type="text" class="form-control" id="keyword" 
                   placeholder="Enter Artist, Team or Event Name (eg.Lakers)" ng-model="keyword" ng-required="true">
        </div>

        <br>

        <div class="form-inline">
          <label for="category" class="col-sm-3">Category</label>
              <select class="form-control" ng-model="category" id="category">
                <option>All</option>
                <option>Music</option>
                <option>Sports</option>
                <option>Arts & Theatre</option>
                <option>Film</option>
                <option>Miscellaneous</option>
              </select>
        </div>

        <br>
        
        <div class="form-inline">
          <label for="distance" class="col-sm-3">Distance</label>
            <input type="text" class="form-control" id="distance" ng-model="distance" placeholder="10">
              &nbsp;
            <select class="form-control" ng-model="unit" id="unit">
              <option>Miles</option>
              <option>Kilometers</option>
            </select>
        </div>

        <br>

        <div class="form-inline">
          <label for="form" class="col-sm-3">From&nbsp;<span style="color: red">*</span></label>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked='true' onclick="document.getElementById('location').value='';document.getElementById('location').required='false'; ">&nbsp;Current location
              </label>
            </div>
        </div>

        <div class="form-inline">
          <label for="empty" class="col-sm-3"></label>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" onclick="document.getElementById('location').required='true'" >&nbsp;Other. Please specify:
            </label>
          </div>
        </div>

        <div class="form-inline">
          <label for="empty" class="col-sm-3"></label>
          <label>&emsp;&nbsp;
            <input type="text" class="form-control" id="location" ng-model="location" onclick="document.getElementById('optionsRadios2').checked='true';">
          </label>
        </div>

        <br>

      <div class="form-inline">
        <label class="col-sm-4">
          <button type="submit" class="btn btn-primary" id="search" ng-click='getServer()'><span class="fa fa-search"></span> Search</button>&emsp;
          <button type="submit" class="btn btn-default btn-sm" id="clear" style="border: 1px solid; border-color: gray" ng-click="Clear()" ><i class="material-icons">clear_all</i> Clear</button>
        </label>
      </div>
    </form>
      <br>


<center>
  <label class="col-sm-4">
    <button type="submit" class="btn btn-primary"> Result</button>&emsp;
    <button type="submit" class="btn btn-default" style="border: 1px solid; border-color: gray"> Favorite </button>
  </label>
</center>
<br>

<!-- <p>{{result.location}}</p> -->
<!-- <p>{{result.events[0]}}</p> -->

<br>
<div class="progress" id="progress" ng-show='progressState.show'>
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
</div>
<br>

<center>
    <h3 id="event_title" style="display:none;">{{result.events[0].name}}</h3>
</center>


      <div class="form-inline" id="icons" style="display:none;">
          <button type="button" class="btn btn-default btn-sm" style="border: 1px solid; border-color: gray"> <span><</span> List</button>
            <div class="pull-right">
              <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check out EVENT located at VENUE. Website: URL #CSCI571EventSearch" data-size="large" >Tweet</a>
              <button type="submit" class="btn btn-sm" id='favorite' style="border: 1px solid; border-color: gray"><i class="material-icons star star-rating-full">star</i></button>
            </div>
      </div>


<!-- nav-bar -->
<center>
  <div class="pull-right" id="navbar" style="display:none;">
    <ul class="nav nav-tabs">
      <li class="nav-item" >
        <a class="nav-link active" id="tab1" href="#">Event</a>
      </li>
      <li class="nav-item" ng-click="getPhoto()" >
        <a class="nav-link" id="tab2" href="#">Artist/Teams</a>
      </li>
      <li class="nav-item" ng-click="getVenue()">
        <a class="nav-link" id="tab3" href="#">Venue</a>
      </li>    
      <li class="nav-item" ng-click="getnextEvent()">
        <a class="nav-link" id="tab4" href="#">Upcoming Events</a>
      </li>    
    </ul>
  </div>
</center>

<center>
  <div class="table-responsive" id="div1">

    <table class="table table-hover" id="result_table" ng-show='div1State.show'>
      <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Event</th>
            <th>Category</th>
            <th>Venue Info</th>
            <th>Favorite</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="x in result.events">
            <th>{{ $index+1 }}</th>
            <td>{{ x.dates.start.localDate }}</td>
            <td onclick="generateEvent(0)"><a href="#" data-toggle="tooltip" data-placement="bottom" title="{{ x.name }}">{{ x.name }}</a></td>
            <td>{{ x.classifications[0].genre.name + '-' + x.classifications[0].segment.name }}</td>    
            <td>{{ x._embedded.venues[0].name }}</td>
            <td><button onclick="this.children[0].class='star-rating-full'; this.children[0].innerHTML='star'" ><i class="material-icons">star_border</i></button></td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive" id="div2"></div>
</center>

<form class="norecord" ng-show='norecordState.show' id="norecord">
 &emsp;&emsp; No records.
</form>


<center>
<div class="table-responsive" id="artist" ng-show="artistState.show">
      <table class="table table-striped">
      <thead>
          <tr>
            <th colspan="2" style="text-align: center;">{{result2_1.artists.items[0].name}}</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <th width="15%"> Name </th>
            <td style="text-align: center;">{{ result2_1.artists.items[0].name }}</td>
          </tr>
          <tr>
            <th> Followers </th>
            <td style="text-align: center;">{{ result2_1.artists.items[0].followers.total.toLocaleString('en', {useGrouping:true}) }}</td>
          </tr>
          <tr>
            <th> Popularity </th>
            <td style="text-align: center;" class="progress-wrapper">
              <div round-progress
                  max="100"
                  current="90"
                  color="#00b300"
                  bgcolor="#eaeaea"
                  radius="16"
                  stroke="2"
                  semi="false"
                  rounded="true"
                  clockwise="false"
                  responsive="false"
                  duration="800"
                  animation="easeInOutQuart"
                  animation-delay="0">
              </div> 
              <div class="text">{{ result2_1.artists.items[0].popularity }}</div></td>
          </tr>
          <tr>
            <th> Check At </th>
            <td style="text-align: center;"> <a href="{{ result2_1.artists.items[0].external_urls.spotify}}" target="_blank">Spotify</a></td>
          </tr>
      </tbody>
    </table>
</div>
</center>


<!-- photo -->
<center>
<div class="container" id="photo" ng-show="photoState.show">
  <div>
    <p><b>{{result.events[0]._embedded.attractions[0].name}}</b></p>
    <br> 
  </div>

  <div class="row">
    <div class="col-4">
        <a href="{{result2.items[1].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2.items[1].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a href="{{result2.items[2].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2.items[2].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a hhref="{{result2.items[3].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2.items[3].image.thumbnailLink}}">
        </a>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
        <a href="{{result2.items[4].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2.items[4].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a href="{{result2.items[5].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2.items[5].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a href="{{result2.items[6].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2.items[6].image.thumbnailLink}}">
        </a>
    </div>
  </div>  

  <div class="row">
    <div class="col-4">
        <a href="{{result2.items[7].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2.items[7].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a href="{{result2.items[8].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2.items[8].image.thumbnailLink}}">
        </a>
    </div>
  </div>  

<br>
  <div id="photo2" ng-show="photo2State.show">
    <p><b>{{result.events[0]._embedded.attractions[1].name}}</b></p>
    <br> 
  <div class="row">
    <div class="col-4">
        <a href="{{result2_2.items[1].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2_2.items[1].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a href="{{result2_2.items[2].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2_2.items[2].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a hhref="{{result2_2.items[3].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2_2.items[3].image.thumbnailLink}}">
        </a>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
        <a href="{{result2_2.items[4].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2_2.items[4].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a href="{{result2_2.items[5].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2_2.items[5].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a href="{{result2_2.items[6].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2_2.items[6].image.thumbnailLink}}">
        </a>
    </div>
  </div>  

  <div class="row">
    <div class="col-4">
        <a href="{{result2_2.items[7].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2_2.items[7].image.thumbnailLink}}">
        </a>
    </div>
    <div class="col-4">
        <a href="{{result2_2.items[8].link}}" target="_blank" class="thumbnail">
            <img ng-src="{{result2_2.items[8].image.thumbnailLink}}">
        </a>
    </div>
  </div>  
</div>
</div>
</center>


<!-- <p>{{result3}}</p> -->
<div class="table-responsive" id="venue_table" ng-show='venueTableState.show'>
      <table class="table table-striped">
      <thead>
          <tr>
            <th colspan="2" style="text-align: center;">{{result.events[0]._embedded.venues[0].name}}</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <th width="15%"> Address </th>
            <td>{{ result3.address }}</td>
          </tr>
          <tr>
            <th> City </th>
            <td>{{ result3.city }}</td>
          </tr>
          <tr>
            <th> Phone Number </th>
            <td>{{ result3.phone }}</td>
          </tr>
          <tr>
            <th> Open Hours </th>
            <td>{{ result3.openHours }}</td>
          </tr>
          <tr>
            <th> General Rule </th>
            <td>{{ result3.generalRule }}</td>
          </tr>
          <tr>
            <th> Child Rule </th>
            <td>{{ result3.childRule }}</td>
          </tr>
      </tbody>
    </table>
  <div id="map"></div>
</div>


<div>
<div ng-repeat="x in result5.event" ng-show='nexteventState.show' id="upcoming">
  <div class="card">
    <div class="card-body">
      <a href="{{x.uri}}" class="card-link" target="_blank"><b>{{x.displayName}}</b></a>
      <p class="card-text" style="color: #ff6600"><b>Artist: </b>{{x.performance[0].displayName}} <span style="color: #999999">{{x.start.date | date: yyyy-MM-dd}} {{x.start.time}}</span><br><span style="color: black">Type: {{x.type}}</span><p></p></p>
    </div>
  </div>
  <div><p></p></div>
</div>
  <center>
    <button type="submit" class="btn btn-primary" ng-show='nexteventState.show'>Show More</button>
  </center>
</div>

<input type="hidden" id="lat" ng-model="lat"/>
<input type="hidden" id="lng" ng-model="lng"/>


<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  开始演示模态框
</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          模态框（Modal）标题
        </h4>
      </div>
      <div class="modal-body">
        <img ng-src="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

<script>
        function loadJSON(url) 
        {
            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
            } 
            else 
            {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");  
            }
            try
            {
              xmlhttp.open("GET",url,false); // "synchronous"
              xmlhttp.send();
              if (xmlhttp.status == 404){return 404}
            }
            catch (Error)
            {
              return false;
            }
            
            jsonObj= JSON.parse(xmlhttp.responseText);
            return jsonObj;
        }

          geo_url = "http://ip-api.com/json";
          jsonObj = loadJSON(geo_url);
          lat = jsonObj.lat;
          lng = jsonObj.lon;
</script>

<script>

  var app = angular.module('myApp', ['angular-svg-round-progressbar']);
  app.controller('siteCtrl', function($scope, $http) {

    $scope.category = "All";
    $scope.unit = "Miles";
    $scope.distance = 10;
    $scope.lat = lat;
    $scope.lng = lng;

    $scope.progressState = {
      show: false
    }
    $scope.div1State = {
      show: false
    }
    $scope.norecordState = {
      show: false
    }
    $scope.photoState = {
      show: false
    }
    $scope.venueTableState = {
      show: false
    }
    $scope.nexteventState = {
      show: false
    }
    $scope.artistState = {
      show: false
    }
    $scope.photo2State = {
      show: false
    }

    $scope.Clear = function(){
          document.getElementById('keyword').value='';
          document.getElementById('location').value='';
          document.getElementById('optionsRadios1').checked='true';
          document.getElementById('category').value='All';
          document.getElementById('unit').value='Miles';
          document.getElementById('distance').value='';
          // document.getElementById('event').style.display = 'none';
          var parent = document.getElementById('div2');
          parent.removeChild(parent.children[0]);
          document.getElementById('event_title').style.display = 'none';
          document.getElementById('navbar').style.display = 'none';
          document.getElementById('icons').style.display = 'none';
          document.getElementById('tab1').setAttribute("class", "nav-link active");
          document.getElementById('tab2').setAttribute("class", "nav-link");
          document.getElementById('tab3').setAttribute("class", "nav-link");
          document.getElementById('tab4').setAttribute("class", "nav-link");
          $scope.div1State.show = false;
          $scope.norecordState.show = false;
          $scope.photoState.show = false;
          $scope.photo2State.show = false;
          $scope.venueTableState.show = false;
          $scope.nexteventState.show = false;
          $scope.artistState.show = false;
        }

    $scope.getServer = function(){

        $scope.progressState.show = !$scope.progressState.show;

        $http({
            method: 'GET',
            url: 'http://571hw8-chenghaw.us-east-2.elasticbeanstalk.com/process_get?keyword=' + $scope.keyword + '&distance=' + $scope.distance + "&unit=" + $scope.unit + '&location=' + $scope.location + "&category=" + $scope.category + "&lat=" + lat + "&lng=" + lng
            }).then(function successCallback(response) {
                $scope.result = response.data;
                $scope.progressState.show = !$scope.progressState.show;
                $scope.div1State.show = true;

                if (response.data.events == 'N/A'){
                  $scope.div1State.show = false;
                  $scope.norecordState.show = true;

                }

            }, function errorCallback(response) {
        });

    }

    $scope.getPhoto = function(){

        document.getElementById('event').style.display = 'none';
        document.getElementById('tab1').setAttribute("class", "nav-link");
        document.getElementById('tab2').setAttribute("class", "nav-link active");
        document.getElementById('tab3').setAttribute("class", "nav-link");
        document.getElementById('tab4').setAttribute("class", "nav-link");
        $scope.venueTableState.show = false;

        $http({
            method: 'GET',
            url: 'http://571hw8-chenghaw.us-east-2.elasticbeanstalk.com/spotify?keyword='+ $scope.result.events[0]._embedded.attractions[0].name

            }).then(function successCallback(response) {
                $scope.result2_1 = response.data.event;

                if ($scope.result2_1.artists.items[0].followers != 'undefined'){
                  $scope.artistState.show = true;
                }
            }, function errorCallback(response) {
        });

        $http({
            method: 'GET',
            url: 'http://571hw8-chenghaw.us-east-2.elasticbeanstalk.com/photo?keyword=' + $scope.result.events[0]._embedded.attractions[0].name
            }).then(function successCallback(response) {
                $scope.result2 = response.data;
                $scope.photoState.show = !$scope.photoState.show;
                $scope.nexteventState.show = false;
            }, function errorCallback(response) {
        });

        $http({
            method: 'GET',
            url: 'http://571hw8-chenghaw.us-east-2.elasticbeanstalk.com/photo?keyword=' + $scope.result.events[0]._embedded.attractions[1].name
            }).then(function successCallback(response) {
                $scope.result2_2 = response.data;
            }, function errorCallback(response) {
        });

        if ($scope.result.events[0].classifications[0].segment.name == 'Sports'){
            $scope.photo2State.show = true;
        }
    }

    $scope.getVenue = function(){

        document.getElementById('event').style.display = 'none';
        document.getElementById('tab1').setAttribute("class", "nav-link");
        document.getElementById('tab2').setAttribute("class", "nav-link");
        document.getElementById('tab3').setAttribute("class", "nav-link active");
        document.getElementById('tab4').setAttribute("class", "nav-link");
        $scope.photoState.show = false;
        $scope.artistState.show = false;
      
        $http({
            method: 'GET',
            url: 'http://571hw8-chenghaw.us-east-2.elasticbeanstalk.com/venue?venue=' + $scope.result.events[0]._embedded.venues[0].name
            }).then(function successCallback(response) {
                $scope.result3 = response.data;
                $scope.venueTableState.show = true;
                $scope.nexteventState.show = false;
            }, function errorCallback(response) {
        });

    }

    $scope.getVenueId = function(){
        
        $http({
            method: 'GET',
            url: 'http://571hw8-chenghaw.us-east-2.elasticbeanstalk.com/venueid?venue=' + $scope.result.events[0]._embedded.venues[0].name
            }).then(function successCallback(response) {
                $scope.result4 = response.data;
            }, function errorCallback(response) {
        });

    }

    $scope.getnextEvent = function(){

        document.getElementById('event').style.display = 'none';
        document.getElementById('tab1').setAttribute("class", "nav-link");
        document.getElementById('tab2').setAttribute("class", "nav-link");
        document.getElementById('tab3').setAttribute("class", "nav-link");
        document.getElementById('tab4').setAttribute("class", "nav-link active");

        $http({
            method: 'GET',
            url: 'http://571hw8-chenghaw.us-east-2.elasticbeanstalk.com/nextevent?id=' + $scope.result4.id
            }).then(function successCallback(response) {
                $scope.result5 = response.data;
                $scope.nexteventState.show = true;
                $scope.photoState.show = false;
                $scope.venueTableState.show = false;
                $scope.div1State.show = false;
                $scope.norecordState.show = false;
                $scope.artistState.show = false;

            }, function errorCallback(response) {
        });

    }


  });
</script>

<script>
$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>

<script>

  function generateEvent(number){

    document.getElementById("navbar").style.display = "block";
    document.getElementById("event_title").style.display = "block";
    document.getElementById("icons").style.display = "block";

    var appElement = document.querySelector('[ng-controller=siteCtrl]');
    var $scope = angular.element(appElement).scope(); 
    $scope.$apply();
    $scope.getVenueId();

    $scope.div1State.show = false;

    var tbl = document.createElement("table");
    tbl.setAttribute("class", "table table-striped");
    tbl.setAttribute("id", "event");

    var tblBody = document.createElement("tbody");

    for (var i=0;i<8;i++){ 
        var row = document.createElement("tr");
        var col1 = document.createElement("th");
        var col2 = document.createElement("td");
        if (i == 0){
            var txt1 = document.createTextNode("Artist/Team(s)");
            var txt2;
            if ($scope.result.events[number]._embedded.hasOwnProperty('attractions')){
              if ($scope.result.events[number]._embedded.length == 1){
                txt2 = document.createTextNode($scope.result.events[number]._embedded.attractions[0].name);
              }
              else{
                txt2 = document.createTextNode($scope.result.events[number]._embedded.attractions[0].name + ' | ' + $scope.result.events[number]._embedded.attractions[1].name);
              }
            }
            else{
                continue;
            }
        }

        if (i == 1){
            var txt1 = document.createTextNode("Venue");
            var txt2;
            if ($scope.result.events[number].hasOwnProperty('_embedded')){
                txt2 = document.createTextNode($scope.result.events[number]._embedded.venues[0].name);
              }
            else{
                continue;
            }
        }

        if (i == 2){
            var txt1 = document.createTextNode("Time");
            var txt2;
            if ($scope.result.events[number].hasOwnProperty('dates')){
              txt2 = document.createTextNode(moment($scope.result.events[number].dates.start.localDate).format('ll') + ' ' + $scope.result.events[number].dates.start.localTime);
              }
            else{
                continue;
            }
        }    

        if (i == 3){
            var txt1 = document.createTextNode("Category");
            var txt2;
            var segment = '';
            var genre = '';
            if ($scope.result.events[number].hasOwnProperty('classifications')){
              if ($scope.result.events[number].classifications[0].hasOwnProperty('segment')){
                segment = $scope.result.events[number].classifications[0].segment.name;
              }
              if ($scope.result.events[number].classifications[0].hasOwnProperty('genre')){
                genre = $scope.result.events[number].classifications[0].genre.name;
              }
              txt2 = document.createTextNode(segment + ' | ' + genre);
              }
            else{
                continue;
            }
        } 

        if (i == 4){
            var txt1 = document.createTextNode("Price Range");
            var txt2;
            if ($scope.result.events[number].hasOwnProperty('priceRange')){
              txt2 = document.createTextNode('$' + $scope.result.events[number].priceRange[0].min + ' - ' + '$' + $scope.result.events[number].priceRange[0].max);
              }
            else{
                continue;
            }
        }    

        if (i == 5){
            var txt1 = document.createTextNode("Ticket Status");
            var txt2;
            if ($scope.result.events[number].hasOwnProperty('dates')){
                txt2 = document.createTextNode($scope.result.events[number].dates.status.code);
              }
            else{
                continue;
            }
        }

        if (i == 6){
            var txt1 = document.createTextNode("Buy Ticket At");
            var txt2;
            if ($scope.result.events[number].hasOwnProperty('url')){
                    txt2 = document.createElement("A");
                    var t = document.createTextNode("Ticketmaster");
                    txt2.setAttribute("href", $scope.result.events[number].url);
                    txt2.setAttribute("target", "_blank");
                    txt2.appendChild(t);
              }
            else{
                continue;
            }
        }

        if (i == 7){
            var txt1 = document.createTextNode("Seat Map");
            var txt2;
            if ($scope.result.events[number].hasOwnProperty('seatmap')){
                    txt2 = document.createElement("A");
                    var t = document.createTextNode("View Seat Map Here");
                    txt2.setAttribute("href", $scope.result.events[number].seatmap.staticUrl);
                    txt2.setAttribute("target", "_blank");
                    txt2.appendChild(t);
              }
            else{
                continue;
            }
        }
        col1.appendChild(txt1);
        row.appendChild(col1);
        col2.appendChild(txt2);
        row.appendChild(col2);
        tblBody.appendChild(row);
    }
    tbl.appendChild(tblBody);
    $("#div2").append(tbl);
    
  }
</script>

<script>
  function initMap(){
        var coord = {lat: 34.043, lng: -118.267};
        var map = new google.maps.Map(document.getElementById('map'), {zoom:13, center:coord});
        var marker = new google.maps.Marker({position: coord, map:map});
        var contentString = '<div id="content">'+
            '</div>'+'<div id="bodyContent">'+
            '<p><strong>STAPLES Center</strong><br>1111 S Figueroa St<br>Los Angeles, CA 90015<br><a href="https://www.google.com/maps/place/STAPLES+Center/@34.0430219,-118.2694428,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c7b85dea2a93:0x1ff47c3ceb7bb2d5!8m2!3d34.0430175!4d-118.2672541" target="_blank">'+
            'View on Google Maps</a></p></div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 200
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY8Irk1vTr85Fop3NmHvG8C4K3hhYlwh4&callback=initMap">
</script>

  </body>
</html>