#container {
    width:1370px;
    height: 10px;
    /*border: 2px solid;*/
}
#left_button{
	float: left;
	margin-top: 45px;
	margin-left: 100px;
	background: none; 
	font-size: 20px;
	border: none;
	cursor:pointer;
}
#right_button1,#right_button2,#right_button3{
	float: left;
	margin-top: 45px;
	width: 60px;
	border: none;
	background-color: transparent; 
	font-size: 15px;
	color: #cccccc;
	cursor:pointer;

}
#right_button1{margin-left: 870px}
#right_button2{margin-left: 20px}
#right_button3{margin-left: 20px}
#right_button1:hover, #right_button2:hover, #right_button3:hover{
	color: #000000}

#right_button1:active{}

#input_box{font-size: 12px; width: 90%; padding: 14px}
#input_box:hover{color: #999999}

#signup_button{
	background-color: rgb(252,218,5); 
	font-size: 12px; 
	font-family: Arial; 
	border: none; 
	margin-top: 5px; 
	width: 180px; 
	padding: 14px; 
	letter-spacing: 0.5px;
	cursor:pointer;
}

#signup_button:hover, #try_button:hover{
	background-color: #000000;
	color: white;
}

#left,#right,#center{
	width: 350px; 
	margin-top: 300px;
	font-size: 14px; 
	font-family: Arial; 
	text-align: justify;
	line-height: 1.5;
	color: #666666;
	/*border: 1px solid; */
}
#left {
    float:left;
    margin-left:100px;
}
#right {
	/*position: absolute;*/
    float:left;
    margin-left:75px;
}
#center {
    display: inline-block;
    /*margin:0 auto;*/
    margin-left:75px;
}


#block1{
	margin-top: 260px;
	margin-left: 80px; 
	background-color: rgb(20,49,78); 
	color: white;  
	width:320px;
	height: 350px;
	padding: 75px 60px;
	font-stretch: expanded;
	z-index: 10;
}
#block2{
	/*position: absolute;*/
	background-color: rgb(244,244,244);
	width: 1080px;
	font-family: Montserrat ;
	font-size: 20px;
	padding: 150px;
	margin-top: 600px;
	margin-left: -10px;
	text-align: center;
	z-index: 10;
}

#lawyer{
	clip:rect(0px 1420px 856px 0px);
	margin-left: -50px;
	filter:brightness(70%);
	z-index: -10;
}

.my_text{
    font-family: Montserrat;
    font-size: 14px;
}

#block3{
	background:url(http://csci571.com/hw/hw3/images/glasses.png) no-repeat; 
	background-attachment: fixed; 
	width: 1380px; 
	height: 850px; 
	margin-top: -140px;
	filter: grayscale(0.9); 
	opacity: 0.4;
	background-size: 2400px 1600px;
	background-position: 80%;
}

#left_bottom, #right_bottom, #center_bottom, #left_bottom2, #right_bottom2, #center_bottom2{
	position: absolute;
	width: 350px; 
	height: 520px;
	margin-top: 100px;
	text-align: center;
	line-height: 2;
	color: #000000;
}

#left_bottom, #center_bottom, #right_bottom {
	position: absolute;
	background-image: url(http://csci571.com/hw/hw3/images/grid.png);
	background-color: rgba(255,255,255,1);
	background-size: 150% 100%;
	z-index: 1;
}

#left_bottom2 {
	position: absolute;
    margin-left: 100px;	
	background-color: white;
	opacity: 0.9;
	font-size: 12px; 
	font-family: Montserrat; 
	color: grey;
	z-index: 100;
	letter-spacing: 0.5px;
	line-height: 2.5;
}

#center_bottom2 {
	position: absolute;
    margin-left: 525px;	
	background-color: white;
	opacity: 0.9;
	font-size: 12px; 
	font-family: Montserrat; 
	color: grey;
	z-index: 100;
	letter-spacing: 0.5px;
	line-height: 2.5;
}

#right_bottom2 {
	position: absolute;
    margin-left: 950px;	
	background-color: white;
	opacity: 0.9;
	font-size: 12px; 
	font-family: Montserrat; 
	color: grey;
	z-index: 100;
	letter-spacing: 0.5px;
	line-height: 2.5;
}
#left_bottom{
    margin-left:100px;
}
#center_bottom {
    margin-left: 525px;
}
#right_bottom {
    margin-left:950px;
}

#block4{
	position: absolute;
	margin-top: -245px;
	background-color: rgb(20,49,78); 
	color: white;
	font-family: Montserrat;  
	font-size: 12px;
	width:100px;
	padding: 20px;
	text-align: center;
	letter-spacing: 0.5px;
	z-index: 100;
}

#block4:hover{
	background-color: #000000;
}

#notebook{
	position: absolute;
	margin-left: -10px;
	margin-top: -245px;
	clip:rect(200px 1950px 1200px 00px);
	z-index: -10; 
}

#block5{
	position: absolute;
	margin-top: -45px;
	margin-left: -10px;
	width: 1380px;
	height: 550px;
	background-color: rgb(10,49,76);
	opacity: 0.9;
	font-size: 26px;
	font-family: Montserrat;
	text-align: center;
	color: white;
	z-index: 10;
}

#try_button{
	position: absolute;
	background-color: rgb(252,218,5); 
	font-size: 14px; 
	font-weight: 600;
	font-family: Montserrat; 
	border: none; 
	margin-top: 250px; 
	margin-left: 600px;
	width: 140px; 
	padding: 15px; 
	letter-spacing: 0.5px;
	cursor:pointer;
	z-index: 100;
	text-align: center;
}

#block6{
	position: absolute;
	background-color: rgb(25,30,41);
	color: white;
	font-family: Montserrat;
	text-align: center;
	margin-top: 475px;
	margin-left: -10px;
	width: 1380px;
	height: 300px;
	line-height: 1.5;
	z-index: 10;
}

#fb, #twitter, #ins, #youtube, #google{
	position: absolute;
	margin-top: 650px;
	z-index: 10;
}
#fb{margin-left: 530px}
#twitter{margin-left: 600px}
#ins{margin-left: 670px}
#youtube{margin-left: 740px}
#google{margin-left: 810px}
